*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#main{
    width: 100%;
    min-height: 100vh;
    background: #c3fff5;
    display: flex;
    flex-wrap: wrap;

}
#addBtn{
    position: fixed;
    right: 10px;
    top: 10px;
    background: rgb(32, 33, 33);
    color: white;
    padding: 10px;
    border: none;
    outline: none;
    /* font-size: ; */
}
.note{
    width: 400px;
    height: 400px;
    background: #ffff;
    margin: 15px;
    margin-top: 55px;
}
.tool{
    width: 100%;
    background: rgb(32, 33, 33);
    color: #ffff;
    padding: 5px;
    display: flex;
    justify-content: end;
}
.tool i{
    padding: 5px;
    cursor: pointer;
}
.note textarea{
    border: none;
    height: 100%;
    width: 100%;
    resize: none;
    padding: 10px;
    font-size: 18px;

}
.note textarea:focus{
    border: 0;
    outline: 0;
}